:root{
    --main-title-color: #ffffff;
    --second-title-color:#212121;
    --first-text-color:#757575;
    --buton-text-color:#FFFFFF;
    --header-text-color:#212121;
    --contact-color:#757575;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --accent-color:#2196F3;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
button{
cursor: pointer;
border: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.body{
    font-family: "Roboto", sans-serif;
  color: var(--second-title-color);
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.pointer {
    cursor: pointer;}
/*--------------Хедер-----------------*/ 
.header{
    border-bottom: 1px solid #ececec;
   
}
.header-container{
    display: flex;
}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-logo{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    
    display: block;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-studio{
    color: var(--header-text-color);
}
.header-list{
    display: flex;
    align-items: center;
}
.header-item{
    margin-right: 50px;
}
.header-item:last-child{
    margin-right: 0;
}

.header-contact{
    display: flex;
}

.header-contact-item:not(:last-child) {
    margin-right: 50px;
}
.header-link{
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: var(--header-text-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link-icon {
    margin-right: 10px;
    fill: var(--first-text-color);
}
.icon-envelope {
    width: 16px;
    height: 12px;
}  
.icon-smartphone {
    width: 10px;
    height: 16px;
}

.header-link:hover,
.header-link:focus{
color:var(--accent-color)
}
.header-contact-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;     
}
.header-contact{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-contact-link:hover,
.header-contact-link:focus{
    color:var(--accent-color)
}
.header-link:hover .header-link-icon,
.header-link:focus .header-link-icon {
  fill: current Color;
}
/*--------------hero--------------*/
.hero {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;
  }
  .hero-title {
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
  }
  
.hero-buton {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--buton-text-color);
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
}
  
.hero-buton:hover,
.hero-buton:focus {
    color: var(--buton-text-color);
    color: var(--first-button-color);
}
/*------------pecul--------------*/
.pecul-list {
    display: flex;
} 
.pecul-item {
    max-width: 270px;
}
  
.pecul-item:not(:last-child) {
    margin-right: 30px;
}
.pecul-after-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--second-title-color);
margin-bottom: 10px;
}
.pecul-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--first-text-color);
}
/*--------------What are we doing--------*/
.price{
    padding-bottom: 94px;  
}
.price-title{
font-weight:700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-title-color);
margin: 0 auto 50px;
}
.price-list {
display: flex;
flex-wrap: wrap;
margin-top: -30px;
margin-left: -30px;
}  
.price-item {
width: calc(100% / 3 - 30px);
margin-top: 30px;
margin-left: 30px;
}
/*--------------Command-----------*/
.comand-section{
background: #F5F4FA;
}
.comand-list {
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -30px;
}
.comand-item {
width: calc(100% / 4 - 30px);
margin-left: 30px;
margin-top: 30px;
background: #ffffff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.comand-card {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
.comand-title{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color:var(--second-title-color);
margin-bottom: 50px;
}
.comand-name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-title-color);
margin-bottom: 10px;
}
.comand-position{
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--first-text-color);
}
/*---------porfolio------*/
.filter-buton:hover,
.filter-buton:focus{
background: var(--accent-color);
color: var(--buton-text-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.filter-list {
display: flex;
margin-bottom: 50px;
justify-content: center;
} 
.filter-item:not(:last-child) {
 margin-right: 8px;
}

.filter-buton{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(second-title-color);
    
    padding: 6px 22px;
}
.project-list {
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -30px;
}
.project-item {
width: calc(100% / 3 - 30px);
margin-left: 30px;
margin-top: 30px;
}
.project-item-content{
width: 370px;
padding: 20px 24px;
background: #ffffff;
border-left: 1px solid #eeeeee;
border-bottom: 1px solid #eeeeee;
border-right: 1px solid #eeeeee;
box-sizing: border-box;
}
.project-item-content1{
width: 370px;
padding: 20px 15px;
background: #ffffff;
border-left: 1px solid #eeeeee;
border-bottom: 1px solid #eeeeee;
border-right: 1px solid #eeeeee;
box-sizing: border-box;
}
.project-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--header-text-color);
}
.project-text{
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--first-text-color);
}

/*---------footer------*/
.footer{
    background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo{
    display: inline-block;
  margin-bottom: 20px;

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.footer-studio{
        color: var(--main-title-color);
}
.addres-map-city{
display: inline-block;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-title-color);
}
.addres-map-city:hover,
.addres-map-city:focus{
    color: var(--accent-color);
}
.addres-link{
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}
.addres-link:hover,
.addres-link:focus{
color: var(--accent-color);
}
.address-item:not(:last-child) {
margin-bottom: 9px;
} 
.transparency {
color: rgba(255, 255, 255, 0.6);
}
